<div class="mainpage_bgc">
    <div class="overview_mainPageType">
        <div class="mainpage_head">
            <img src="assets/images/dns.png" class="floatLeft" style="margin-left: 30px">

            <div class="mainpage_name">DNS配置</div>
            <div class="mainpage_ename">DNS&nbsp;Configuration</div>
        </div>
        <div class="vlineShow"></div>
        <div class="tabbable tabbable-custom tabbable-full-width" class="marginTop20">
            <ul class="nav nav-tabs" style="margin-right: -20px;margin-left: 25px">
                <li id="dns_tab" class="active">
                    <a href="#dnsPage" data-toggle="tab">DNS配置</a>
                </li>
            </ul>
            <div class="tab-content pageSizeSet" style="height: 100%;overflow-y:auto">
                <div id="dnsPage" class="tab-pane active overflow1200">
                    <form id="dnsFormSub">
                        <div class="pageSizeSet1">
                            <table>
                                <tr>
                                    <td style="width: 150px;height: 32px">
                                        首选DNS服务器
                                    </td>
                                    <td>
                                        <input class="inputSize width185 form-control" type="text"
                                               placeholder="192.168.1.1" id="dns0">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 150px;height: 32px">
                                        备用DNS服务器1
                                    </td>
                                    <td>
                                        <input class="inputSize width185 form-control" type="text"
                                               placeholder="192.168.1.1" id="dns1">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 150px;height: 32px">
                                        备用DNS服务器2
                                    </td>
                                    <td>
                                        <input class="inputSize width185 form-control" type="text"
                                               placeholder="192.168.1.1" id="dns2">
                                    </td>
                                </tr>
                            </table>
                            <input type="submit" style="margin-top: 10px;margin-left: 210px"
                                   class="btnheight btn btn-primary" id="dns_btn" value="保存">
                        </div>
                    </form>
                </div>
                <div class="vlineShow clear"></div>
                <div class="foot" id="footPage"
                     style="display:-webkit-flex;justify-content:center;align-items:center;">
                    <font style="color: #abc;font-size: 12px">Copyright 2016-2019 任子行网络技术股份有限公司</font>
                </div>
            </div>
        </div>
    </div>
</div>
