<div class="mainpage_bgc">
    <div class="overview_mainPageType">
        <div class="mainpage_head">
            <img src="assets/images/sys_interfaceset.png" class="floatLeft" style="margin-left: 30px">

            <div class="mainpage_name">网口状态</div>
            <div class="mainpage_ename">Interface&nbsp;Status</div>
        </div>
        <div class="vlineShow"></div>
        <div class="tabbable tabbable-custom tabbable-full-width" class="marginTop20">
            <ul class="nav nav-tabs" style="margin-right: -20px;margin-left: 25px">
                <li class="active">
                    <a href="#interfacePage" data-toggle="tab">网口列表</a>
                </li>
            </ul>
            <div class="tab-content pageSizeSet" style="height: 100%;overflow-y:auto">
                <div id="interfacePage" class="tab-pane overflow1200 active">
                    <div style="margin-right: 40px" class="pageSizeSet">
                        <div id="interfaceTab"></div>
                    </div>
                </div>
                <div class="vlineShow clear"></div>
                <div class="foot" id="footPage"
                     style="display:-webkit-flex;justify-content:center;align-items:center;">
                    <font style="color: #abc;font-size: 12px">Copyright 2016-2019 任子行网络技术股份有限公司</font>
                </div>
            </div>
        </div>
    </div>
</div>
