<div class="mainpage_bgc">
    <div class="overview_mainPageType">
        <div class="mainpage_head">
            <img src="assets/images/sys_netcheck.png" class="floatLeft" style="margin-left: 30px">

            <div class="mainpage_name">网监审计</div>
            <div class="mainpage_ename">Audit&nbsp;Supervisor</div>
        </div>
        <div class="vlineShow"></div>
        <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs" style="margin-right: -20px;margin-left: 25px">
                <li class="active">
                    <a href="#netCheckPage" data-toggle="tab">网监控制</a>
                </li>
            </ul>
            <div class="tab-content pageSizeSet" style="height: 100%;overflow-y:auto">
                <di id="dnsPage" class="pageSizeSet tab-pane active overflow1200">
                    <div class="floatLeft">
                        <font class="title">网监审计开关</font>
                    </div>
                    <div style="margin-left: 30px;float: left">
                        <div id="div11" class="close1">
                            <div id="div12" class="close2"></div>
                        </div>
                    </div>
                </di>
                <div class="vlineShow clear"></div>
                <div class="foot" id="footPage"
                     style="display:-webkit-flex;justify-content:center;align-items:center;">
                    <font style="color: #abc;font-size: 12px">Copyright 2016-2019 任子行网络技术股份有限公司</font>
                </div>
            </div>
        </div>
    </div>
</div>
</div>